@import "global";

.cart-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 1rem;
  border-bottom: 1px solid $divider-color;
  padding: 1rem 0;

  .item-img-content {
    width: 96px;
    height: 96px;
    box-shadow: 2px 2px 4px rgba(000, 000, 000, 0.25);
    border-radius: 100%;
    flex: 1;
    img {
      width: 96px;
      height: 96px;
      object-fit: cover;
    }
  }

  .desc-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 1rem;

    p {
      font-weight: 700;
    }
  }
}
