@import "global";

.home-container {
  margin-top: 6rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  h1 {
    width: 100%;
    max-width: 1080px;
    border-bottom: 2px solid $divider-color;
  }

  .produto-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 1080px;
    margin-top: 2rem;
  }
}

@media (max-width: 748px) {
  .home-container {
    .produto-grid-container {
      grid-template-columns: 1fr;
    }
  }
}

@media (min-width: 800px) and (max-width: 1080px) {
  .home-container {
    .produto-grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
